body {
  background-color: rgb(148, 143, 143);
  color: rgb(7, 1, 3);
  border: rgb(7, 78, 34);
  border-style: solid;
  text-align: center;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
   
