body {
  background-color: rgb(231, 229, 226);
  color: rgb(236, 50, 106);
  border: rgb(7, 78, 34);
  border-style: solid;
  text-align: center;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
   
